@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');

    :root {
        --primary-color: #111;
        --secondary-color: hsl(198, 97%, 13%);
        --blue-green: rgb(0, 255, 238);
        --bg-gradient-1: radial-gradient(circle, #1d1d1d 0%, rgba(17,17,17,1) 100%);
        --blur-amount: blur(7.5px);
        --nav-bg: rgba(0, 0, 0, 0.2);
    }
    html, body {
        font-size: 2.8vh;
        font-family: 'Roboto Mono', monospace;
        margin: 0px;
        box-sizing: border-box;
        color: white;
    }

    p, h1, h2, h3, a, img {
        overflow: hidden;
        animation: slide-up 1s ease-in;
        font-family: 'Roboto Mono', monospace;
    }

    .center-text * {
        text-align: center;
    }

    img {
        padding: 0px;
        border-radius: 1rem;
        align-self: center;
    }

    section {
        min-height: 70vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    section * {
        padding: .5rem 1rem;
        margin: 1rem;
    }

    #section1 {
        min-height: 100vh;
    }

    .vert-center {
        padding-top: 25vh;
    }

    .hor-center {
        text-align: center;
    }

    .hor-center * {
        text-align: center;
    }

    .nav-check {
        position: fixed;
        top: 0;
        margin: 0;
        padding: 0px;
        height: 0.5px;
        width: 100vw;
        background-color: transparent;
    }

    .navbar {
        position: fixed;
        top: 0px;
        z-index: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        background-color: var(--nav-bg);
        backdrop-filter: var(--blur-amount);
        -webkit-backdrop-filter: var(--blur-amount);
        transition: all 0.5s;
    }

    .navbar button {
        border: none;
        background-color: transparent;
    }

    .navbar button h3 {
        padding: 0.5rem 1rem;
        margin: 0px;
        animation: fadein 1s ease-in;
        font-weight: 300;
        font-size: 0.75rem;
        transition: 0.3s;
        color: white;
    }

    .navbar *:hover {
        color: var(--blue-green);
        font-size: 4vh;
        cursor: pointer;
    }

    .mobile-only {
        display: none;
    }

    .mobile-navbar {
        display: none;
    }

    .primary {
        background: var(--bg-gradient-1);
        color: #ddd;
        background-attachment: fixed;
    }

    #section2 {
        background-color: var(--secondary-color);
        color: rgb(255, 255, 255);
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?cs=srgb&dl=pexels-pixabay-270360.jpg&fm=jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    #section3 {
        background-color: #1d1d1d;
    }

    .sticky {
        position: fixed;
        top: 0;
    }

    .glass-bg {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        backdrop-filter: var(--blur-amount);
        -webkit-backdrop-filter: var(--blur-amount);
        -moz-backdrop-filter: var(--blur-amount);
        min-width: 90%;
    }

    .blue-green-text {
        color: var(--blue-green);
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards div {
        border-radius: 0.25rem;
        transition: all 0.5s;
        background-color: #222;
        flex: 1 1 160px;
    }

    .cards div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .cards div:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        color: #111;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .fadeindown {
        animation: fadeindown 1s ease-in;
    }

    .slide-up {
        animation: slide-up 0.9s cubic- bezier(0.65, 0, 0.35, 1) both;
    }

    @keyframes fadeindown {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100px);
        }
        100% {
            transform: translateY(0);
        }
}

    @media only screen and (max-width: 600px) {
        html, body {
            font-size: 4vw;
        }
        
        .navbar {
            display: none;
        }

        .mobile-navbar {
            display: block;;
            background-color: var(--nav-bg);
        }
    }